
#maparea {
	width: 60%;
	height: 90%;
	margin: 2% 0 0 2%;
	position: absolute;
}

#controlarea {
	position: absolute;
	width: 30%;
	top: 2%;
	right: 2%;
}

form {
	background-color: #eee;
	padding: 5%;
}

fieldset {
	border: none;
}

legend {
	font-size: 14px;
}

.field {
	margin-bottom: 10px;
}